In [1]:
import pandas as pd
import os

pypoll_file =  os.path.join('.','Resources','election_data.csv')
print(pypoll_file)

.\Resources\election_data.csv

In [2]:
df = pd.read_csv(pypoll_file)
df
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [80]:
total_votes = df["Voter ID"].shape[0]
print(total_votes)

candidate_votes = df["Candidate"].value_counts()

print(candidate_votes)

percentage_votes = ((df["Candidate"].value_counts()/total_votes)*100),

print(f'{percentage_votes, candidate_votes})')


print(f'Winner: Khan')

votes = {
    "Candidate":["Khan", "Correy","Li","O'Tooley"],
    "Votes": ["2,218,231","704,200","492,940","105,630"],
    "Percentage of votes":["63.00%","19.99%","13.99%","2.99%"] 
    }
votes_df = pd.DataFrame(votes)

votes_df

3521001
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64
((Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64,), Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64))
Winner: Khan

  Candidate      Votes Percentage of votes
0      Khan  2,218,231              63.00%
1    Correy    704,200              19.99%
2        Li    492,940              13.99%
3  O'Tooley    105,630               2.99%

In [84]:
Election_Summary = (
f'Election Results\n'
f'---------------------\n'
f'Total Votes = {total_votes}\n'
f'---------------------\n'
f'{votes_df}\n'
f'Winner: Khan\n')

print(Election_Summary)

with open("main.py","w") as text_file:
    print(f'{Election_Summary}', file=text_file)

Election Results
---------------------
Total Votes = 3521001
---------------------
  Candidate      Votes Percentage of votes
0      Khan  2,218,231              63.00%
1    Correy    704,200              19.99%
2        Li    492,940              13.99%
3  O'Tooley    105,630               2.99%
Winner: Khan